/This is not mitosis.sln
/Library
/Logs
/obj
/Packages
/Recordings
/.vsconfig
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assets/Settings
/Assets/StreamingAssets
/Assets/TextMesh Pro
/Assets/TextMesh Pro.meta
/Assets/GameAssets.meta
/Assets/Joystick Pack.meta
/Assets/Main.mixer
/Assets/Main.mixer.meta
/Assets/Scenes.meta
/Assets/Settings.meta
/Assets/StreamingAssets.meta
